body {
  margin: 0;
  padding: 0;
}
.header-area {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header {
  width: 60%;
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.header-logo {
  width: 40%;
  display: flex;
  flex-direction: row;
}
.logo-image img {
  height: 50px;
  width: auto;
}

.logo-name {
  margin-left: 10px;
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.menu {
  list-style: none;
}
.menu-link {
  text-decoration: none;
  color: black;
}
