body {
  margin: 0;
  padding: 0;
  gap: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f0f1f1;
}

.header-area {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.header {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 35%;
  display: flex;
  flex-direction: row;
}

.logo-image img {
  padding: 10px 0px;
  height: 50px;
  width: auto;
}

.logo-name {
  padding: 0px 10px;
}

.header-logo {
  width: 30%;
}

.header-menu {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu nav {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: block;
  position: relative;
}

.menu-link {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  display: inline-block;
  transition: all 0.2s ease;
  position: relative;
  border-radius: 3px;
}

.menu-item .menu-link:hover,
.menu .menu-link:hover {
  background-color: #094b72 !important;
  color: white !important;
  font-weight: bold;
}

.menu-link:active,
.menu-link:focus {
  background-color: #094b72;
  color: white;
}
.hero-area {
  display: flex;
  justify-content: center;
}
.hero {
  width: 60%;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-bottom: 0px;
}

.hero-headline {
  color: #094b72;
}

.get-started-button button {
  background-color: #094b72;
  color: aliceblue;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.get-started-button button:hover {
  background-color: #073d5e;
}

.hero-image img {
  height: 600px;
  width: auto;
  margin-top: -100px;
  margin-left: -25px;
}
.hero-headline {
  font-family: Playfair Display;
  font-size: 2rem;
}
.hero-company-section {
  color: gray;
}
.hero-company-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 5px;
  width: 40%;
  margin-left: 0;
  padding-left: 0;
}

.hero-company-images img {
  width: 80%;
  height: auto;
}
#googlepic {
  padding-bottom: 20px;
}
#microsoftpic {
  padding-top: 10px;
}
.Legaliztion-area {
  background-color: #e4fbff;
  margin-top: -6px;
  display: flex;
  justify-content: center;
}
.legalization {
  font-family: Playfair Display;
  width: 60%;
  display: flex;
  justify-content: center;
}
.legalization-headline {
  width: 45%;
}
.legalization-cards {
  width: 55%;
}
